<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="container">
        <h1><%= htmlWebpackPlugin.options.title %></h1>
        <div class="search">
            <input type="text" placeholder="Search for any ip address or domain">
            <button>&#x3e;</button>
        </div>
        <div class="information">
            <div>
                <p>ip address</p>
                <h2 id="ip-address"></h2>
            </div>
            <hr>
            <div>
                <p>location</p>
                <h2><span id="country"></span> <span id="geonameid"></span></h2>
            </div>
            <hr>
            <div>
                <p>timezone</p>
                <h2 id="timezone"></h2>
            </div>
            <hr>
            <div>
                <p>isp</p>
                <h2 id="isp"></h2>
            </div>
        </div>
        <div id="map"></div>
    </div>
</body>
</html>