* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(64, 64, 240);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
h1 {
    color: #fff;
}
.search {
    display: flex;
    align-items: center;
    margin-block: 1rem;
    margin: 1rem 0;
}
input {
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid black;
    width: 22rem;
    height: 50px;
    padding: 0 1rem;
    font-size: large;
    font-weight: bold;
}
input::placeholder {
    font-weight: lighter;
}
input:focus {
    outline: none;
    border: 1px solid coral;
}
button {
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: large;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.information {
    background-color: #fff;
    padding: 3rem .5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 70%;
    max-width: 90%; 
    position: relative;
    top: 5rem;
    z-index: 100;
}
.information p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
    color: grey;
    margin-bottom: 1rem;
}
hr {
    display: none;
}
@media (min-width: 760px)  {
    .information {
        text-align: initial;
    }
    hr {
        display: block;
    }
}
#map {
    height: 520px;
    width: 100%;
    position: relative;
    z-index: 1;
}